# Add your environment variables here
# Example:
# NEXT_PUBLIC_API_URL=https://api.example.com
# DATABASE_URL=mongodb+srv://ahmadrazadeveloper32_db_user:4EzkN8tdD0eNmCX4@cluster0.4ibfifu.mongodb.net/?appName=Cluster0